<div class="row">
  <div class="page-header">
    <h2>Campaign Analytics</h2>  
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Network</th>
        <th>Shares</th>
        <th>Impressions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Twitter</td>
        <td>1,079</td>
        <td>101,233</td>
      </tr>
      <tr>
        <td>Facebook</td>
        <td>2,203</td>
        <td>315,003</td>
      </tr>
      <tr>
        <td>Tumblr</td>
        <td>1,043</td>
        <td>220,169</td>
      </tr>
      <tr>
        <td>Shelby</td>
        <td>10,175</td>
        <td>536,412</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div id="anal-graph">
  </div>
</div>
