<div class="row">
  <div class="page-header">
    <h3>Create a Promoted Video</h3>  
  </div>
</div>
<div class="row">
  <div class="well span5">
    <p><strong>Title</strong></p>
    <input id="title-input" class="create-input" type="text" />
    <p><strong>Video URL</strong></p>
    <input id="video-input" class="create-input" type="text" />
    <hr>
    <p><strong>Budget</strong></p>
    $ <input id="budget-input" class="create-input" type="text" />
    <hr>
    <a id="create-submit" class="btn btn-primary btn-large">Next »</a>
  </div>
</div>
