<div class="row">
  <div class="span5">
    <h2><%= title %> targeting</h2>
    <p>Some explanatory copy</p>
  </div>
  <div id="dashboard-totals" class="well span4 pull-right"> 
    <ul>
      <li><h2>$<span id="dashboard-total-spend">0</span>/$<span id="dashboard-total-budget"><%= budget %></span></h2></li>
      <li><h2><span id="dashboard-total-reach">0</span> reach</h2></li>
    </ul>
  </div>
</div>

<div class="row">

  <div id="search-bar" class="span12">

    <div id="search-well" class="well">
      <input id="topic-search-input" type="text" data-provide="typeahead">
    </div><!-- //well -->

  </div><!-- //search-bar -->

  <!--<div id="topic-stats-cont" class="span5">
  </div>-->

</div>

<div id="topic-stats-cont" class="span12">
  
</div><!-- //topic-stats-cont -->

<script type="text/template" id="topic-stats-template">
  <%- partial('topic-stats') %>
</script>

<a id="order-button" class="btn btn-primary btn-large pull-right">Order »</a>
