<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>Shodan – The first social video advertising platform</h2>
        <p>Video advertising has always been about reaching the right audiences. The “traditional” way to reach
        these audiences has been through video ad networks with defined audience segments. These audiences
        are usually defined by site categorization or contextual algorithms. Shelby.tv’s !@#$ platform evolves
        video advertising by targeting the individual based on who they are, what they’re talking about and their
        influence in various subject areas.</p>
        <p><a href="/create" class="btn btn-primary btn-large">Demo &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h4>Choose your targeting method</h4>
           <p>The !@#$ platform  merges social and video to provide you multiple ways to reach your target persona.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h4>Set your budget and other campaign options</h4>
           <p>Budgeting and campaign options are made simple through the simple one-step settings page.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h4>Deliver results</h4>
          <p>Your content will reach only the people you absolutely want to target. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
