#header-brand-cont{
  padding:0px;
  img{
    width:140px;
    height:30px;
    margin-top:5px;
  }
  span{
    font-size:15px;
  }
}

.navbar-inner{
  form{
    display:none;
  }
}

#topic-search-input{
  width:290px;
}

.order-input{
  width:95%;  
}

#order-button{
}

#anal-button{
  display:none;
}

#search-bar{
  .well{
    #topic-search-input{
      width:100%;
    }
  }
}

#topic-stats-cont{
  .topic-stat{
  }
}

#search-well{
  background-color:#ffffff;
}

.red-text{
  color:red;
}
